# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.root
*.par

build
out
include
bin
lib
lib64
share
tmp
*.spec
i
# VS
.vscode/*
# !.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
runs
Testing
#*.txt
compile_commands.json
.cache
.ndmspc_cache_dir*
*.root
!macros/root/cernstaff/cernstaff.root
test.C
notes
.ipynb*
