#include "__CLASSNAME__.h"

/// \cond CLASSIMP
ClassImp(Ndmspc::__CLASSNAME__);
/// \endcond

namespace Ndmspc
{
__CLASSNAME__::__CLASSNAME__(const char *name, const char* title) : __CLASSNAME_DERIVATIVE__(name,title) {}
__CLASSNAME__::~__CLASSNAME__() {}
} // namespace Ndmspc
