[Unit]
Description=NdmSpc notebook %I
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/ndmspc/ndmspc-notebook
EnvironmentFile=-/etc/ndmspc/ndmspc-notebook.%I
ExecStart=/usr/bin/root --notebook --port $NDMSPC_NOTEBOOK_PORT
Restart=on-abort

[Install]
WantedBy=multi-user.target
